*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

.border-gray {
    border: 1px solid darkgray;
}

header, footer {
    height: 100px;
    clear: both;
}

.container {
    float: left;
}

.reg {
    width: 33.3333%;
    height: 150px;
}

.two-col {
    width: 50%;
    height: 200px;
}
